/***** BASE STYLES *****/

body {font-family: 'Source Sans Pro', sans-serif;
    color: #2b2b2b;
}

    /*Mobile styles here*/
  
/***** GRID *****/

/***** HEADER *****/

header {
    justify-content: space-between;
    align-items: center;
}
header h1 { 
    font-family: 'Lora', bolder;
    font-size: 1.25em;
    color: #bbc085;
    font-weight: bolder;
    text-align: center;
}    
nav ul li {
    text-align: center;
    list-style: none;
    display: inline-block;
    width: fit-content;
    padding: 0em 0em;  
}

nav ul li a {

    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    font-weight: bolder;
    color: #828282;
    padding-right: 1em;

}

#library-img {
    width: 100%;
    height: auto;
    padding: 0 0 .1em 0;
}

/***** SKILLS SECTION *****/

#skills {
    background: #97c5a7;
    clear: left;
    padding: .5em 0;
}
#skills h2 {font-family: 'Lora';
    font-size: 1.75em;
    padding: 0em .5em 0em .5em;
    color: #2b2b2b;
}
#skills ul li {font-size: 1.5em;
    color: #7f7f7f;
    line-height: 1.5em;
    padding-left: .5em;
    padding-right: 0;
}

/***** ABOUT SECTION *****/

#about {
    clear: left;
    padding: 1em .5em 2em .5em;
}
#about h2 {font-family: 'Lora';
    font-size: 1.75em;
    padding: 0em .5em 0em .5em;
    color: #2b2b2b;
}
#about p {font-size: 1.5em;
    color: #7f7f7f;
    line-height: 1.5em;
    padding: .5em .5em .5em .5em;
}

/***** PROJECTS SECTION *****/
  
.projects {background: #f9ceb7;
    padding-top: 1em;
}
.projects h2 {font-family: 'Lora';
    font-size: 1.75em;
    color: #2b2b2b;
    text-align: center;
    padding-top: 1em;
}
.div-1 img, .div-2 img, .div-3 img, .div-4 img, .div-5 img, .div-6 img {
    padding-left: 3em;
    width: 70%;
    height: auto;
    background: #f9ceb7;
}
.div-1 h3, .div-2 h3, .div-3 h3, .div-4 h3, .div-5 h3, .div-6 h3 {font-size: 1.5em;
    line-height: 1.5em;
    margin: 0 auto;
    background: #f9ceb7;
    text-align: left;
    padding-left: 1em;;
    width: 70%;
}
.div-1 p, .div-2 p, .div-3 p, .div-4 p, .div-5 p, .div-6 p {font-family: 'Lora';
    font-size: 1.2em;
    line-height: 1.2em;
    margin: 0 auto;
    background: #f9ceb7;
    text-align: center;
    padding-bottom: 1em;
    width: 70%;
}

/***** CONTACT SECTION *****/

#contact {background:#ebebeb;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 1em;
}
#contact img, #contact-img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#contact h2 {font-family: 'Lora', bolder; 
    font-size: 1.3em;
    line-height: 1em;
}
#contact #email-header {
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    text-align: center;
}
#contact a {
    text-decoration: none;
    color: #f9ceb7;
    font-weight: bold;
    font-size: 2em;
}
#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
     align-items: center;
}
#contact ul img {
    display: inline-block;
    padding: 0 .75em .5em 0;
}

@media only screen and (min-width:768px) {
    /*Tablet styles here*/
/***** GRID *****/

/***** HEADER *****/

header h1 { 
    font-family: 'Lora';
    font-size: 2.5em;
    color: #bbc085;
    padding: 1em 0 .5em .5em;
    font-weight: bolder;
}    
nav {
    padding: .25em 0em 0 0;
}
nav ul li{
    display: inline-block;
    flex-wrap: nowrap;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bolder;
    color: #828282;
    padding-right: 1em; 
}
#library-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

/***** SKILLS SECTION *****/

#skills {
    background: #97c5a7;
    clear: left;
    padding: .25em 0;
}
#skills h2 {font-family: 'Lora';
    font-size: 3em;
    padding: .5em .5em .2em .5em;
    color: #2b2b2b;
    
}
#skills ul li {font-size: 2.5em;
    color: #7f7f7f;
    line-height: 1.75em;
    padding-left: .5em;
    padding-right: 0;   
}

/***** ABOUT SECTION *****/

#about {
    clear: left;
    padding: 1em 2em 2em .5em;
}
#about h2 {font-family: 'Lora';
    font-size: 3em;
    padding: .5em .5em .5em .5em;
    color: #2b2b2b;
}
#about p {font-size: 2.5em;
    color: #7f7f7f;
    line-height: 1.75em;
    padding: .5em .5em .5em .5em;
}

/***** PROJECTS SECTION *****/

.projects {background: #f9ceb7;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.projects h2 {font-family: 'Lora';
    font-size: 3em;
    color: #2b2b2b;
    text-align: center;
}
.div-1 img, .div-2 img, .div-3 img, .div-4 img, .div-5 img, .div-6 img {
    padding: 0 0 1em 2em;
    width: 40%;
    height: auto;
}
.div-1 h3, .div-2 h3, .div-3 h3, .div-4 h3, .div-5 h3, .div-6 h3 {
    font-size: 2.5em;
    line-height: 2em;
    margin: 0 auto;
    padding-left: 1em;
    text-align: left;
    width: 40%;
}
.div-1 p, .div-2 p, .div-3 p, .div-4 p, .div-5 p, .div-6 p {font-family: 'Lora';
    font-size: 2em;
    line-height: 1.5em;
    margin: 0 1em 1em 0;
    width: 40%;
    text-align: left;
    padding-left: 1em;
}

/***** CONTACT SECTION *****/

#contact {background:#ebebeb;
}
#contact-img {
    margin-left: 25px;
    border: 12px solid #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
    padding-left: 3em;
}
#contact h2 {font-family: 'Lora'; 
    font-size: 2.5em;
    line-height: 2em;
    padding-left: .5em;
}
#contact #email-header {
    font-size: 2em;
    font-weight: lighter;
    line-height: 2em;
    padding-left: .5em;
}
#contact a {
    text-decoration: none;
    color: #f9ceb7;
    font-weight: bold;
    font-size: 2.5em;
}
#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
}

@media only screen and (min-width:1200px) {
    /*Desktop styles here*/
  
/***** GRID *****/
  

/***** HEADER *****/

nav {
    padding: 25px 25px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.25em;
    color: #828282;
    padding-right: 20px; 
    text-justify: center;
}
header h1 { 
    font-family: 'Lora', bolder;
    font-size: 32px;
    color: #bbc085;
    padding: 30px 0 5px 0px;
    text-justify: center;
}    
#library-img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

/***** SKILLS SECTION *****/

#skills {
    background: #97c5a7;
    clear: left;
    padding: 50px 0 0px 0;
}
#skills h2 {font-family: 'Lora';
    font-size: 36px;
    padding-left: 300px;
    color: #2b2b2b;
    background: #97c5a7;
}
#skills ul li {font-size: 21px;
    color: #7f7f7f;
    line-height: 40px;
    padding-left: 300px;
    background: #97c5a7;
    list-style: none;
}

/***** ABOUT SECTION *****/

#about {
    clear: left;
    padding: 80px 0;
}
#about h2 {font-family: 'Lora';
    font-size: 36px;
    padding-left: 300px;
    color: #2b2b2b;
}
#about p {font-size: 21px;
    color: #7f7f7f;
    line-height: 40px;
    padding-left: 150px;
    padding-right: 100px;
}

/***** PROJECTS SECTION *****/

.projects {background: #f9ceb7;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.projects h2 {font-family: 'Lora';
    font-size: 36px;
    padding-left: 300px;
    color: #2b2b2b;
}

  .div-1 img, .div-2 img, .div-3 img, .div-4 img, .div-5 img, .div-6 img {
    flex-flow: row wrap;
    justify-content: space-between;
    padding-left: 50px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f9ceb7;
    width: 25%;
    height: auto;
  }
  .div-1 h3, .div-2 h3, .div-3 h3, .div-4 h3, .div-5 h3, .div-6 h3 {
    font-size: 24px;
    padding-left: 150px;
    margin: 0 auto;
  }
  .div-1 p, .div-2 p, .div-3 p, .div-4 p, .div-5 p, .div-6 p {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
    font-family: 'Lora';
    font-size: 18px;
    line-height: 30px;
    padding: 0 50px;
    width: 25%;
  }

/***** CONTACT SECTION *****/

#contact {background:#ebebeb;
}

#contact img, #contact-img {
    margin-left: 25px;
}

#contact .full-width {
    padding: 110px 0;
}
#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
    padding-left: 115px;
}


#contact h2 {font-family: 'Lora', bolder; 
    font-size: 36px;
    line-height: 44px;
}
#contact #email-header {
    font-size: 32px;
    font-weight: bold;
    line-height: 44px;
}

#contact a {
    text-decoration: none;
    color: #f9ceb7;
    font-weight: bold;
    font-size: 28px;
}

#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    padding-right: 48px;
}

}